<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}STP DEV COMMUNITY{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>STP DEV COMMUNITY</h1>
    </header>

    <div class="container">{% block content %}{% endblock %}</div>

    <footer>
      <p>&copy; 2025 STP DEV COMMUNITY</p>
    </footer>
  </body>
</html>
