{% extends 'base.html' %} {% block content %}
<div class="container">
  <h3 class="page-title">Create a New Doubt</h3>

  <form method="post" enctype="multipart/form-data" class="doubt-form">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required />

    <label for="description">Description:</label>
    <textarea name="description" id="description" rows="4" required></textarea>

    <label for="image">Related Image :</label>
    <input type="file" name="image" id="image" />

    <div class="form-buttons">
      <a href="{% url 'doubts:home' %}">
        <button type="button" class="secondary-btn">Back to Doubt List</button>
      </a>
      <button type="submit" class="primary-btn">Post Doubt</button>
    </div>
  </form>
</div>
{% endblock %}
